fastapi==0.115.0
uvicorn[standard]
openai==1.56.2
pydantic==2.9.2
langchain-openai==0.2.0
langchain==0.3.0
langchainhub==0.1.21
google-api-python-client==2.146.0
pandas==2.2.3
python-dotenv==1.0.1
SQLAlchemy==2.0.34
psycopg2-binary==2.9.9
logfire[fastapi]==1.2.0
alembic==1.14.0
opentelemetry-api==1.27.0

